:root {
  --containerBackgroundColor: #022859;
  --altDarkBlue: #0339A6;
  --primaryTextColor: #0554F2;
  --altBrightBlue: #0468BF;
  --hexagonShape: polygon(50% 0%, 90% 25%, 90% 55%, 50% 80%, 10% 55%, 10% 25%);
  --maxContainerWidth: 2560px;
}

#root {
  overflow-x: hidden;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* ~~~~~~~~ Header ~~~~~~~~ */

header {
  padding: 0.5rem 1rem;
  /* vertical 0.5, horizontal 1 */
  display: flex;
  background-color: var(--containerBackgroundColor);
  align-items: center;
  justify-content: space-around;
  align-items: center;
  max-width: var(--maxContainerWidth);
  margin: 1.5rem auto 1rem;
  /* center the div when the window is larger than the max-width (top, horizontal, bottom) */
  border-radius: 20px;
  overflow: hidden;
}

header * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
}

header .headerTitleWrap {
  flex-grow: 2;
}

header h1,
header h2,
.email {
  color: var(--primaryTextColor);
  text-align: center;
  /*white-space: nowrap; /* turn off text wrapping */
}

header h1 {
  margin-bottom: 0;
}

header h2 {
  margin-top: 0.25rem;
  font-size: 2rem;
}

.email {
  font-size: 2rem;
  color: var(--primaryTextColor);
  /* text-align: center; */
}

.emailIcon {
  width: 32px;
  position: relative;
  top: 3px;
}

.profilePicBorder {
  position: relative;
  background-color: var(--altBrightBlue);
  clip-path: circle(48%);
  width: 150px;
  height: 150px;
}

.profilePic {
  width: 140px;
  clip-path: circle(48%);
  margin-right: 2rem;
  position: relative;
  /* position the image ontop of the border div so that the border is only seen on 1 side */
  top: -2px;
  right: -2px;
}





/* ~~~~~~~~ Skillsbar ~~~~~~~~ */
.skillsWrap {
  max-width: var(--maxContainerWidth);
  margin: 1.5rem auto 1rem;
  /* center the div when the window is larger than the max-width (top, horizontal, bottom) */
  overflow: hidden;
}

/* old skillsBar backup */
/* 
.skillsBar {
  background-color: var(--containerBackgroundColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  border-radius: 20px; 
  margin-bottom: 1.5rem;
}
*/
.skillsBar {
  background-color: var(--containerBackgroundColor);
  display: grid;
  grid-template-columns: minmax(20%, 2fr) 4fr 1fr;
  grid-template-rows: 1fr;
  /* align-content: start; */
  /* row-gap: 0; */
  height: 6rem;
  border-radius: 20px;
  position: relative; /* allows the see more button to absolute align to this container  */
}

.skillsBar:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* if using grid on skillsBar instead of flexbox */
.skillsBar a {
  align-self: center;
}

.technologyWrap {
  /* align-self: flex-end; */
  position: relative;
  top: 5px;
}

.skillsBar h1 {
  color: var(--primaryTextColor);
  margin-left: 1.5rem;
  /* max-width: 25rem; */
  margin-top: 0;
  margin-bottom: 0;
  align-self: center;
}

.skillsBar .seeMoreWrap {
  text-align: left;
  display: inline-block;
  margin-right: 3rem;
  /* border: 3px solid violet;  */
  align-self: center; /* Vertical align the button wrap within the skillBar */
  /* position: absolute; */
  /* top: 2px; */
  /* bottom: 10px;
  left: -20px; */
}

.aButton {
  max-width:120px;
  background-color: black;
  align-self: center;
  border: 2px solid var(--primaryTextColor);
  /* border-radius: 50%; */
  clip-path: circle(50%);
  padding: 8px 36px;
  font-size: 1.05rem;
  margin: 0;
  white-space: nowrap;
}

.technologyWrap {
  /* background-color: pink; */
  /* min-width: 55rem; */
  display: flex;
  /* justify-content: flex-start; */
  flex-basis: content;
  /* flex-grow: 0; */
  align-self: flex-end;
  /* shift down the technology icons to the bottom of the SkillsBar */
  /* margin-bottom: 0.5rem; /* stops the technology icons from reaching the bottom, not needed of SkillsBar height is not large */
  margin-bottom: 0;
  padding-bottom: 0;
}

.skillIcon {
  width: 50%;
  position: relative;
  top: -6px;
}

/* Skill Bar Hexagon Logics */
.hexagonOuter {
  position: relative;
  width: 90px;
  height: 90px;
  background-color: var(--primaryTextColor);
  clip-path: var(--hexagonShape);
}

.hexagonInner {
  position: absolute;
  background-color: black;
  top: 4px;
  left: 5px;
  width: 80px;
  height: 80px;
  clip-path: var(--hexagonShape);
  display: flex;
  justify-content: center;
}

/* ~~~~~ Footer ~~~~~ */
footer {
  max-width: var(--maxContainerWidth);
  height: 3rem;
  background-color: var(--containerBackgroundColor);
  /* border: 2px solid var(--containerBackgroundColor); */
  margin: 1.5rem auto 1rem;
  /* center the div when the window is larger than the max-width (top, horizontal, bottom) */
  border-radius: 20px;
  padding: 0 2rem;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  align-content: center;
  align-items: center;
}

footer p {
  color: gray;
}

/* ~~~~~~~~ Overview ~~~~~~~~ */
.projectOverviewWrap {
  /* something is causing padding bottom value to extend much larger than the declared value. If declared 0 it is 0, else it's much larger
  Required so that when no Qualifications are listed for the page, there is still spacing between this container and the end of the main container */
  padding-bottom: 5px;
}

.qualificationsContainer h1 {
  /* The project overview has spacing below, so this doesn't need any above.*/
  margin-top: 0;
}

.projectWrap {
  margin-bottom: 3rem;
}

.projectWrap p {
  width: 50%;
}

.overviewContainer {
  max-width: var(--maxContainerWidth);
  background-color: var(--containerBackgroundColor);
  margin: 1.5rem auto 1rem;
  /* center the div when the window is larger than the max-width (top, horizontal, bottom) */
  border-radius: 20px;
}

.overviewContainer p {
  color: white;
  font-size: 1.1rem;
  margin-left: 1.5rem;
}

/* Screenshot presentation logic */
figure,
figcaption {
  padding: 12px;
  border-radius: 3%;
}

.projectScreenshot {
  /* border: 1px solid black; */ /* this line doesn't work well with the portrait logic, draws lines outside of the image because of object-fit: contain */
  /* these lines are to help manage portrait images */
  max-height: 600px;
  object-fit: contain;
  object-position: 50% 50%; /* This is the default but I want to be explicit about it */
}

figure {
  background-color: var(--altDarkBlue);
  z-index: 1;
  padding: 20px 15px 12px 15px;
  /* background-image: linear-gradient(var(--altDarkBlue), var(--altBrightBlue)); */
  /* the gradient blends the natural background color at the top into a brighter colour */
  background-image: linear-gradient(var(--containerBackgroundColor), var(--altBrightBlue));
  /* leaving out the top border helps the theme of merging the top into the background */
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 1px solid black;
  /* helps manage portrait images */
  max-height: 700px;
}

figcaption {
  padding: 12px;
  font-size: 1.1rem;
  text-align: center;
}

/* Screenshot presentation logic end */

.overviewContainer h1 {
  color: var(--primaryTextColor);
  margin-left: 1.5rem;
  padding-top: 1rem;
}

.overviewContainer h2 {
  color: var(--primaryTextColor);
  margin-left: 1.5rem;
  font-size: 2.1rem;
}

.screenshotJpgContainer,
.screenshotGifContainer {
  max-width: 850px;
}

.qualificationImage,
.projectScreenshot {
  width: 100%;
}

figcaption {
  color: white;
  font-style: italic;
}

.qualificationImageWrap {
  margin: 0 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
}

.screenshotJpgContainer figure,
.screenshotGifContainer figure {
  margin-bottom: 2rem;
}

/* ~~~~~~~~ Qualifications ~~~~~~~~ */
.qualificationsContainer {
  background-color: var(--containerBackgroundColor);
  max-width: var(--maxContainerWidth);
  margin: 1.5rem auto 1rem;
  /* center the div when the window is larger than the max-width (top, horizontal, bottom) */
  border-radius: 20px;
}

.qualificationsContainer h1, .qualificationsContainer h2 {
  color: var(--primaryTextColor);
  margin-left: 1.5rem;
}

.professionalContainer {
  padding-bottom: 1rem;
}

.linkedInTechnologyWrap {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  /* background-color: var(--altDarkBlue);
  max-width: 40rem;
  border-radius: 3%; */
}

.linkedInTechnologyWrap h3 {
  color: var(--primaryTextColor);
  font-size: 1.3rem;
}

.linkedInTechnologyWrap p {
  color: white;
  margin-right: 1rem;
}

.certificateWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 35rem;
}

.certificateWrap a:hover {
  cursor: pointer;
  color: gold;
}

.academicContainer ul {
  color: white;
  list-style-type: upper-roman;
}

.academicContainer ul li {
  padding-left: 15px;
}

.academicContainer ul li:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* ~~~~~~~~ Media Queries ~~~~~~~~ */

/* When below the max container width, we don't need to apply auto margins, instead apply enough to make the container look like it's floating.  */
@media screen and (max-width: 2560px) {

  /* ~~~~~~~~ Main Containers ~~~~~~~~ */
  header,
  .skillsWrap,
  footer,
  .overviewContainer,
  .qualificationsContainer {
    margin: 1.5rem 1rem 1rem;
    /* use this else auto center when the window is larger than max width (top, horizontal, bottom) */
  }
}

/* ~~~~~~~~ SkillsBar ~~~~~~~~ */
@media screen and (max-width: 1500px) {
  .skillsBar {
    /* background-color: pink; */
    grid-template-columns: minmax(22%, 2fr) 4fr 1fr;
  }

  /* ~~~~~~~~ Hexagons ~~~~~~~~ */
  .hexagonOuter {
    width: 80px;
    height: 80px;
  }

  .hexagonInner {
    top: 3px;
    /* left: 5px; */
    width: 70px;
    height: 70px;
  }

  /* ~~~~~~~~ Overview ~~~~~~~~ */
  .projectWrap p {
    width: 75%;
  }
}

@media screen and (max-width: 1300px) {

  /* ~~~~~~~~ SkillsBar ~~~~~~~~ */
  .skillsBar h1 {
    font-size: 2.6rem;
  }

  .aButton {
    padding: 7px 30px;
  }
}

@media screen and (max-width: 1200px) {

  /* ~~~~~~~~ SkillsBar ~~~~~~~~ */
  .skillsBar a {
    margin-right: 0.25rem;
  }

  .aButton {
    padding: 6px 22px;
  }

  /* ~~~~~~~~ Header / Overview ~~~~~~~~ */
  header,
  .skillsWrap {
    margin: 1.5rem 1rem 1rem;
    /* center the div when the window is larger than the max-width (top, horizontal, bottom) */
  }

  header h1,
  .overviewContainer h1 {
    font-size: 2.4rem;
  }

  header h2,
  .overviewContainer h1 {
    font-size: 2.2rem;
  }

  .overviewContainer h2 {
    font-size: 1.6rem;
  }

  .email {
    font-size: 1.5rem;
  }

  
}

@media screen and (max-width: 1100px) {
  /* ~~~~~~~~ SkillsBar ~~~~~~~~ */

  .skillsBar h1 {
    margin-top: 0.5rem;
  }

  .skillsBar {
    grid-template-columns: 1fr;
    /* Change to 1 column */
    grid-template-rows: 1fr 1fr 1fr;
    /* Create 3 rows */
    height: 14rem;
    row-gap: 10px;
  }

  .skillsBar .seeMoreWrap {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .aButton {
    font-size: 1.1rem;
  }

  .technologyWrap {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

@media screen and (max-width: 900px) {

  /* ~~~~~~~~ Header ~~~~~~~~ */
  header {
    flex-direction: column;
  }

  header h1 {
    font-size: 1.75rem;
  }

  header h2 {
    font-size: 1.5rem;
  }

  .email {
    font-size: 1.35rem;
  }

  /* ~~~~~ Overview ~~~~~ */
  .qualificationImageWrap {
    grid-template-columns: 1fr;
  }

  .overviewContainer p,
  figure {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .overviewContainer h1,
  .overviewContainer h2 {
    margin-left: 1rem;
  }

  .projectWrap p {
    width: 94%;
  }
}

@media screen and (max-width: 800px) {

  /* ~~~~~~~~ Skills Bar ~~~~~~~~ */
  .technologyWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* Change to 5 columns */
    grid-template-rows: auto;
    /* Create 2+ rows */
  }

  .skillsBar {
    height: 18.5rem;
  }
}

@media screen and (max-width: 600px) {
    /* ~~~~~~~~ Skills Bar ~~~~~~~~ */
  .technologyWrap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .skillsBar {
    height: 22rem;
  }

  .skillsBar .seeMoreWrap {
    position: absolute;
    left: 50%; /* align relative to container */
    transform: translateX(-63%); /* account for the width of self */
    bottom: 20px;
  }
  
  .aButton {
    font-size: 1.1rem;
    padding: 8px 36px; /* revert back to original padding as the current layout has more room for a bigger button */
  }

      /* ~~~~~~~~ Footer ~~~~~~~~ */
  footer {
    grid-template-columns: 1fr;
    justify-items: center;
    height: 5rem;
    row-gap: 10px;
  }

  footer p {
    margin: 0;
  }

  /* ~~~~~~~~ Qualifications ~~~~~~~~ */
  .linkedInTechnologyWrap {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}