

:root {
  --containerBackgroundColor: #022859;
  --primaryTextColor: #0554F2;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header {
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex; 
  background-color: var(--containerBackgroundColor);
  align-items: center;
  justify-content: space-between;
  /* flex-direction: row; */
  /* align-items: flex-start; */
}

header h1, header h2 {
  color: var(--primaryTextColor);
  text-align: center;
}

.email {
  font-size: 2rem;
  color: var(--primaryTextColor);
}

.profilePic {
  width: 140px;
  clip-path: circle(50%);
  margin-right: 2rem;
}
